*{
    background-color: darkgray;
    margin-bottom: 0.2em;
}
.menu{
    float: left;
    background-color: yellow;
    width: 15em;
}
.top{
    padding: 10px;
    background-color: brown;
}
.text{
background-color: brown;
}
img{
    float: right;
    width: 150px;
    height: 150px;
}
.footer{
    background-color: blueviolet;
}
.clean{
    float: left;
}
