*{
    background-color: darkgray;
    margin-bottom: 0.2em;
}
.menu{
    float: left;
    background-color: yellow;
    width: 15em;
}

.text{

background-color: brown;
}
img{
    float: right;
}
.footer{
    background-color: blueviolet;
}
.clean{
    float: left;
}
